/*-----------Estilos para la barra de navegacion---------------*/
.barraContainer {
    background-color: #00304E;
}
.enlace {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.enlace:hover{
    color: blue;
    box-shadow: inset 10px 10px 0 30px lightcyan;
}
/*-------------------------------------------------------------*/