@tailwind base;
@tailwind components;
@tailwind utilities;

/*Remueve márgenes generados automáticamente por el navegador */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #00304E;
}
/*Añadir color de transparencia a texto
.textNoColor{
    color: #91474700;
}

/*Denotacion tipo link para los enlaces 
.link_primary{
    cursor: pointer;
    color: blue;
    text-decoration: none;
}*/